In [1]:
import pandas as pd
import numpy as np

In [3]:
 data=pd.read_csv("data.csv")

In [5]:
type(data)

pandas.core.frame.DataFrame

In [6]:
data.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,NaN
1,2,2008,Chandigarh,2008-04-19,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,0,Chennai Super Kings,33,0,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri,NaN
2,3,2008,Delhi,2008-04-19,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,0,Delhi Daredevils,0,9,MF Maharoof,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar,NaN
3,4,2008,Mumbai,2008-04-20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Royal Challengers Bangalore,0,5,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,NaN
4,5,2008,Kolkata,2008-04-20,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,normal,0,Kolkata Knight Riders,0,5,DJ Hussey,Eden Gardens,BF Bowden,K Hariharan,NaN

In [7]:
data.tail()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
572,573,2016,Raipur,2016-05-22,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,6,V Kohli,Shaheed Veer Narayan Singh International Stadium,A Nand Kishore,BNJ Oxenford,NaN
573,574,2016,Bangalore,2016-05-24,Gujarat Lions,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,4,AB de Villiers,M Chinnaswamy Stadium,AK Chaudhary,HDPK Dharmasena,NaN
574,575,2016,Delhi,2016-05-25,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Sunrisers Hyderabad,22,0,MC Henriques,Feroz Shah Kotla,M Erasmus,C Shamshuddin,NaN
575,576,2016,Delhi,2016-05-27,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,4,DA Warner,Feroz Shah Kotla,M Erasmus,CK Nandan,NaN
576,577,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN

In [8]:
data.info() # object means strings

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577 entries, 0 to 576
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               577 non-null    int64
 1   season           577 non-null    int64
 2   city             570 non-null    object
 3   date             577 non-null    object
 4   team1            577 non-null    object
 5   team2            577 non-null    object
 6   toss_winner      577 non-null    object
 7   toss_decision    577 non-null    object
 8   result           577 non-null    object
 9   dl_applied       577 non-null    int64
 10  winner           574 non-null    object
 11  win_by_runs      577 non-null    int64
 12  win_by_wickets   577 non-null    int64
 13  player_of_match  574 non-null    object
 14  venue            577 non-null    object
 15  umpire1          577 non-null    object
 16  umpire2          577 non-null    object
 17  umpire3          0 non-null      float64
dtypes: float64(1), int64(5), object(12)
memory usage: 81.3+ KB

In [15]:
data.shape

(577, 18)

In [17]:
data.describe() # work on only numerical coloum

,id,season,dl_applied,win_by_runs,win_by_wickets,umpire3
count,577.000000,577.000000,577.000000,577.000000,577.000000,0.0
mean,289.000000,2012.029463,0.025997,13.715771,3.363951,NaN
std,166.709828,2.486247,0.159263,23.619282,3.416049,NaN
min,1.000000,2008.000000,0.000000,0.000000,0.000000,NaN
25%,145.000000,2010.000000,0.000000,0.000000,0.000000,NaN
50%,289.000000,2012.000000,0.000000,0.000000,3.000000,NaN
75%,433.000000,2014.000000,0.000000,20.000000,6.000000,NaN
max,577.000000,2016.000000,1.000000,144.000000,10.000000,NaN

#feaching coloum and raw  
data["team1"] # ACCESSING A COLOUM THEN WILL BE SERIES(in series index and values,and index self generated)

In [36]:
data[["team1","team2","winner"]]              #when multiple coloum fetch then ued list so [["--","-- "]]

,team1,team2,winner
0,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders
1,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings
2,Rajasthan Royals,Delhi Daredevils,Delhi Daredevils
3,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore
4,Deccan Chargers,Kolkata Knight Riders,Kolkata Knight Riders
...,...,...,...
572,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore
573,Gujarat Lions,Royal Challengers Bangalore,Royal Challengers Bangalore
574,Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad
575,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad
576,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad

In [39]:
data.iloc[[0,5,8]] # iloc for raw choose if want series use[-:-:alter] if wants alternative [[-,-,-]] (no pattern)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,NaN
5,6,2008,Jaipur,2008-04-21,Kings XI Punjab,Rajasthan Royals,Kings XI Punjab,bat,normal,0,Rajasthan Royals,0,6,SR Watson,Sawai Mansingh Stadium,Aleem Dar,RB Tiffin,NaN
8,9,2008,Hyderabad,2008-04-24,Deccan Chargers,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,3,YK Pathan,"Rajiv Gandhi International Stadium, Uppal",Asad Rauf,MR Benson,NaN

In [41]:
 data.iloc[:,[4,5,10]] #if wants coloum and row then [raw,coloum]  ######very imp

,team1,team2,winner
0,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders
1,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings
2,Rajasthan Royals,Delhi Daredevils,Delhi Daredevils
3,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore
4,Deccan Chargers,Kolkata Knight Riders,Kolkata Knight Riders
...,...,...,...
572,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore
573,Gujarat Lions,Royal Challengers Bangalore,Royal Challengers Bangalore
574,Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad
575,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad
576,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad

In [69]:
#condition  for loop               datatype = int,flot,string,boolen,none
#masking only choose particular data 
mask=data["city"]=="Hyderabad"
type(data[mask])   # coloum create in that file like data is file /location mask is a coloum created

pandas.core.frame.DataFrame

In [58]:
def get_city_match(city):
    mask=data["city"]==city
    return data[mask].head()

In [59]:
get_city_match("Jaipur")

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
5,6,2008,Jaipur,2008-04-21,Kings XI Punjab,Rajasthan Royals,Kings XI Punjab,bat,normal,0,Rajasthan Royals,0,6,SR Watson,Sawai Mansingh Stadium,Aleem Dar,RB Tiffin,NaN
18,19,2008,Jaipur,2008-05-01,Rajasthan Royals,Kolkata Knight Riders,Rajasthan Royals,bat,normal,0,Rajasthan Royals,45,0,SA Asnodkar,Sawai Mansingh Stadium,RE Koertzen,GA Pratapkumar,NaN
23,24,2008,Jaipur,2008-05-04,Chennai Super Kings,Rajasthan Royals,Chennai Super Kings,bat,normal,0,Rajasthan Royals,0,8,Sohail Tanvir,Sawai Mansingh Stadium,Asad Rauf,AV Jayaprakash,NaN
29,30,2008,Jaipur,2008-05-09,Deccan Chargers,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,8,YK Pathan,Sawai Mansingh Stadium,MR Benson,AM Saheba,NaN
33,34,2008,Jaipur,2008-05-11,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,3,SR Watson,Sawai Mansingh Stadium,SJ Davis,RE Koertzen,NaN

In [63]:
win=data["winner"]=="Rajasthan Royals"
#def winnerofmatch(winner):

SyntaxError: invalid syntax (2570082770.py, line 1)

In [66]:
data[win].shape

(63, 18)

In [67]:
def winners_list(winner):
    win=data["winner"]==winner
    return data[win]

In [74]:
data_mi=data["team1"]=="Mumbai Indians"
type(data[data_mi])

pandas.core.frame.DataFrame

In [86]:
data_dd=data["team2"]=="Delhi Daredevils"
type(data[data_dd])
t1vrt2=data[data_dd & data_mi]

In [90]:
def t1_vr_t2(team):
    data_mi=data["team1"]== team
    data_dd=data["team2"]== team
    return data[t1vrt2]

t1_vr_t2["Mumbai Indians"]